.button {
  width: 126px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 15px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button > svg {
  width: 20px;
  height: 20px;
}

.no_active {
  border-color: #f0f2f6;
  background-color: #f0f2f6;
  color: #c7c7c7;
  outline: 0;
}

.edit {
  border-color: #e3eefc;
  background-color: #e3eefc;
  color: #396aff;
  transition: all 0.2s ease;
}

.edit > svg > path {
  fill: #396aff;
  color: #396aff;
  transition: all 0.2s ease;
}

.edit:hover,
.edit:focus {
  border-color: #c8dcfb;
  background-color: #d9e8ff;
  color: #2d57d4;
}

.edit:hover > svg > path,
.edit:focus > svg > path {
  fill: #2d57d4;
  color: #2d57d4;
}

.download {
  border-color: #e3eefc;
  background-color: #e3eefc;
  color: #396aff;
  transition: all 0.2s ease;
}

.download > svg > path {
  fill: #396aff;
  color: #396aff;
  transition: all 0.2s ease;
}

.download:hover,
.download:focus {
  border-color: #c8dcfb;
  background-color: #d9e8ff;
  color: #2d57d4;
}

.download:hover > svg > path,
.download:focus > svg > path {
  fill: #2d57d4;
  color: #2d57d4;
}

.delete {
  border-color: #fcebe9;
  background-color: #fcebe9;
  color: #e33326;
  transition: all 0.2s ease;
}

.delete > svg > path {
  stroke: #e33326;
  transition: all 0.2s ease;
}

.delete:hover,
.delete:focus {
  border-color: #f8cfc9;
  background-color: #f9d9d6;
  color: #c62820;
}

.delete:hover > svg > path,
.delete:focus > svg > path {
  stroke: #c62820;
}

/* ============ */

.res_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
}

.res_button > svg {
  width: 20px;
  height: 20px;
}

.res_no_active {
  border-color: #f0f2f6;
  background-color: #f0f2f6;
  color: #c7c7c7;
  outline: 0;
}

.res_edit {
  color: #333333;
  transition: all 0.2s ease;
}

.res_edit > svg > path {
  fill: #333333;
  color: #333333;
  transition: all 0.2s ease;
}

.res_edit:hover,
.res_edit:focus {
  border-color: #c8dcfb;
  background-color: #d9e8ff;
  color: #333333;
}

.res_edit:hover > svg > path,
.res_edit:focus > svg > path {
  fill: #2d57d4;
  color: #2d57d4;
}

.res_download {
  color: #333333;
  transition: all 0.2s ease;
}

.res_download > svg > path {
  fill: #333333;
  color: #333333;
  transition: all 0.2s ease;
}

.res_download:hover,
.res_download:focus {
  border-color: #c8dcfb;
  background-color: #d9e8ff;
  color: #333333;
}

.res_download:hover > svg > path,
.res_download:focus > svg > path {
  fill: #2d57d4;
  color: #2d57d4;
}

.res_delete {
  color: #e33326;
  transition: all 0.2s ease;
}

.res_delete > svg > path {
  stroke: #e33326;
  transition: all 0.2s ease;
}

.res_delete:hover,
.res_delete:focus {
  border-color: #f8cfc9;
  background-color: #f9d9d6;
  color: #333333;
}

.res_delete:hover > svg > path,
.res_delete:focus > svg > path {
  stroke: #c62820;
}
