.wrapper {
  width: 452px;
  height: 420px;
  border-radius: 20px;
  border: 1px solid #d4d4d4;
  background-color: #FFFFFF;
  padding: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333333;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  text-align: center;
}

.header {
  width: 319px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 35px;
}

.header h2 {
  font-size: 20px;
  font-weight: 700;
}

.arrow {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.weekdays, .grid {
  width: 319px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  margin: 0 auto;
}

.cell {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  font-weight: 400;
}

.selected {
  background-color: #3B82F6;
  color: white;
}
