.container {
    border: 1.5px solid #DBDBDB;
    border-radius: 8px;
    padding: 15px;
    color: #333333;
}

.wrapper {
    height: 561px;
    padding: 20px 15px;
    background: white;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: auto;
}

.card {
    width: 374px;
    min-height: 263px;
    height: fit-content;
    border: 1.5px solid #DBDBDB;
    border-radius: 8px;
    padding: 12px;
    position: relative;
}

.mainTitle {
    font-size: 18px;
    font-weight: 700;
}

.mainTitle span {
    width: 15px;
    height: 15px;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 50%;
    padding: 1px 4px;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #838383;
    margin-top: 4px;
    margin-bottom: 15px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.close {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -2px;
    top: -7px;
    background-color: #636F84;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.question {
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    height: fit-content;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.option {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
}

.option:first-child {
    border-right: 1px solid #DEDEDE;
}

.option input {
    width: 18px;
    height: 18px;
}

.option p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
}

.option span {
    font-size: 10px;
    font-weight: 400;
    color: #838383;
}

.answerLabel {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.textarea {
    width: 350px;
    min-height: 62px;
    max-height: 120px;
    height: 60px;
    padding: 8px 11px;
    border-radius: 8px;
    border: 1px solid #CDD0DC;
    resize: vertical;
}

.button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.addButton {
    width: 134px;
    height: 48px;
    border: 1px solid #396AFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #396AFF;
    cursor: pointer;
}

.addButton svg {
    width: 18px;
}