.VariantCard2{
    border: 1px solid black;
    width: 374px;
    height: 264px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
}



.h4{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    
}