.navbar {
    max-width: calc(100% - 281px);
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #C7C7C7;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    right: 0;
    margin-left: 1px;
    z-index: 999;
}

.leftItem {
    position: relative;
    width: fit-content;
}

.navbarItem {
    display: flex;
    align-items: center;
}

.navbar input {
    min-width: 230px;
    height: 44px;
    padding-left: 16px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #8F8F8F;
}

.searchIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;

    path {
        fill: #8F8F8F !important;
    }
}

.imgWrapper {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #3276E8;
    margin-left: 20px;
    margin-right: 8px;
}

.imgWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 3px;
}