.wrapper {
  width: 30px;
  height: 30px;
  border: 1px solid #c7c7c7;
  position: fixed;
  top: 0;
  z-index: 9999;
  cursor: col-resize;
  border-radius: 8px;
  margin-left: 265px;
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
